<html>

<head>
	<title>Add A New Plastic</title>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<link href = "css/bootstrap.min.css" rel = "stylesheet">
	<link href = "css/bootstrap-theme.min.css" rel = "stylesheet">
	<link href = "css/help.css" rel = "stylesheet">
	<link href = "css/navbar.css" rel = "stylesheet">
</head>

<body>
	<div class="row">
		<div class="col-xs-12" id=space>
			<div class="jumbotron navigation-bar">
				<div class="dropdown">
					<img id = side-button src="assets/hamburger.png" style="max-width:100%; max-height:100%;"></img>
					<div class="dropdown-content">
						<a class="links-hidden" href="/"><p class="dropdown-font">homepage</p></a>
						<a class="links-hidden" href="/history"><p class="dropdown-font">log history</p></a>
						<a class="links-hidden" href="/share"><p class="dropdown-font">share with friends</p></a>
						<a class="links-hidden" href="/tips"><p class="dropdown-font">sustainability tips</p></a>
						<a class="links-hidden" href="/settings"><p class="dropdown-font">settings</p></a>
						<a class="links-hidden" href="/help"><p class="dropdown-font">help</p></a>
					</div>
				</div>
				
				<div class="home-btn">
					<button class="settings">
						<a href="/settings"><img src="assets/user_icon_s.png" style="max-width:75%; max-height:75%;"></img></a>
					</button>
				</div>
				<div class="home-btn">
					<button class="home">
						<a href="/"><img src="assets/home_S.png" style="max-width:75%; max-height:75%;"></img></a>
					</button>
				</div>
			</div>
			
		</div>
	</div>

	
	<div class ="row">
		<div class = "col-xs-10 col-xs-offset-1 title">
				<h1 class = "plastrack" ><i>Add New Plastic</i></h1>
		</div>
	</div>
	
	<div class="row">
		
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>
