<html>

<head>
	<title>Home Page</title>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<link href = "css/bootstrap.min.css" rel = "stylesheet">
	<link href = "css/bootstrap-theme.min.css" rel = "stylesheet">
	<link href = "css/home.css" rel = "stylesheet">
</head>

<body>
	<div class ="container" id = homepage>

		<!-- No handlebars yet-->
		<div class = "jumbotron" id = homepage>
			<h1 class = "plastrack" ><i>Plastrack</i></h1>
			<!-- <span class="glyphicon glyphicon-asterisk"></span> -->
		</div>
		
		<a href="/logpage">
			<div class = "jumbotron" id = log>
				<div class = "row"></div>
				<h2><b>Log a Plastic</b></h2>
			</div>
		</a>

		<a href="/history">
			<div class = "well" >
				<h2>View Log History</h2>
			</div>
		</a>

		<a href="/share">
			<div class = "well">
				<h2>Share your Progress</h2>
			</div>
		</a>

		<a href="/tips">
			<div class = "well">
				<h2>Sustainability Tips</h2>
			</div>
		</a>

		<a href="/settings">
			<div class = "well">
				<h2>Settings</h2>
			</div>
		</a>

		<a href="/help">
			<div class = "well">
				<h2>Help</h2>
			</div>
		</a>

	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>
