<html>

<head>
	<title>Sustainability Tips</title>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<link href = "css/bootstrap.min.css" rel = "stylesheet">
	<link href = "css/bootstrap-theme.min.css" rel = "stylesheet">
	<link href = "css/home.css" rel = "stylesheet">
</head>

<body>

	<div class ="container" id = homepage>
		<!-- No handlebars yet -->
		<div class = "jumbotron" id = homepage>
			<h1 class = "plastrack" ><i>Plastrack: Sustainability Tips</i></h1>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>