.plastrack, h2 {
	text-align: center;
}

body, #homepage {
	background-color: #808080;
}

#log.jumbotron {
	padding-top: 120px;
  	padding-bottom: 120px;
}

#log.jumbotron h2 {
	font-size: 100px;
}
#log.jumbotron {
	border-radius: 80px;
}

.well {
	border-radius: 30px;
}