.plastrack, h2 {
	text-align: center;
	color: #000000;
}

body, #homepage {
	background-color: #a9a9a9;
}

#log.jumbotron {
	padding-top: 120px;
  	padding-bottom: 120px;
  	
}

#log.jumbotron h2 {
	font-size: 100px;
}
#log.jumbotron {
	border-radius: 80px;
}

.well {
	border-radius: 30px;
	background: #808080;
}


#homepage {
	position: relative;
}

.glyphicon {
	font-size: 100px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.well h2 {
	color: #000000;
}

