/*Dropdown styling*/
.dropbtn {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 80%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.navigation-bar {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  margin: 0;
  border-radius: 0px 0px 30px 30px;
  background-color: gray;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.settings {
  margin-top: 8px;
  margin-left: 20px;
  border: none;
  background-color: gray;
}
.home {
  margin-top: 5px;
  margin-left: 10px;
  border: none;
  background-color: gray;
}
.plastrack {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#space {
  width: 100%;
  padding: 0px;
}
