.send-progress, .view-progress {
  width: 100%;
  display: grid;
  padding-left: 10px;
  padding-right: 10px;
  padding: 0;
  margin: 0px 0px 10px 0px;
}
.send-progress {
  height: 200px;
  grid-template-rows: 1fr 1fr 1fr;
}
.view-progress {
  height: 66.67px;
}
.space {
  position: fixed;
  z-index: 1;
}
.share-text {
  font-size: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.well, .jumbotron, #choose-boxes, #send-btn {
  border-radius: 30px;
}

#choose-boxes {
  width: 200px;
}

.text {
  width: 30%;
  height: 50px;
  position: relative;
  text-align: center;
  margin: 0;
}
.share, .submit {
  display: flex;
  justify-content: center;
}
.row-share {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.choose-box {
  width: 60%;
  height: 50%;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
hr {
  border: 3px solid gray;
  border-radius: 5px;
}
#send-btn {
  width: 100%;
}

  
